* {
    font-size: 20px;
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

body {
    min-width: 500px;
    height: 100vh;
    background-image: linear-gradient(45deg, rgba(32, 125, 255, 0.5) 0%, rgba(0, 189, 85, 0.5) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.registerText {
    width: 950px;
    height: 550px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    position: relative;
    color: firebrick;
}

.registerText span {
    position: absolute;
    top: 320px;
    left: 350px;
}